*{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 100px;
}

header h1{
    font-family: cursive;
    text-align: center;
    padding: 30px;
}
h2{
    font-size: 20px;
    padding: 3px;
    float: right;
    border: 2px solid black;
    
}
section{
    background-color: #bfbfbf;
    color: #6e0e0e;
    overflow: hidden;
    font-family: cursive;
    font-size: 15px;
    margin: 3px;

}
section p{
    text-align: justify;
    clear: both;
    padding: 5px;
}
div{
    height: 200px;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
}
#box1{
    width: 30%;
    height: auto;
    box-sizing: border-box;
    border: 3px solid black;

}
#box2{
    width: 30%;
    height: auto;
    box-sizing: border-box;
    border: 3px solid black;
  
}
#box3{
    width: 30%;
    height: auto;
    box-sizing: border-box;
    border: 3px solid black;

}

#pan{
    background-color: rgb(165 39 39);
    color: white;
}
#bbq{
    background-color: rgb(225 73 73);
    color: white;
}
#baking{
    background-color: rgb(199 86 21);
    color: white;
}
@media (max-width:991px) and (min-width:768px){
#box1, #box2{
        width: 49%;
    }
    #box3{
        width: 99%;
    }
    div{
        display: flex;
        justify-content: center;
    }
}
@media (max-width:767px){
    #box1, #box2, #box3{
        width: 90%;

    }

}